PRIVATE_KEY=0xYOUR_PRIVATE_KEY_WITH_ETH_FOR_GAS
TIP_GWEI=25
ETH_RPC_URL=https://ethereum.publicnode.com
ETH_TX_RPC_URL=https://rpc.mevblocker.io/fast
BROADCAST_RPCS=https://rpc.mevblocker.io/fast,https://rpc.flashbots.net/fast
MINER_BACKEND=cuda
MINER_WORKERS=1
CUDA_BLOCKS=0
CUDA_THREADS=384
CUDA_HASHES_PER_THREAD=96
